.item4 {
    padding: 50px;
    background-color: deeppink;
}

.item3 {
    padding: 50px;
    background-color: gray;
}

.item2 {
    padding: 50px;
    background-color: aqua;
}


.item1 {
    padding: 50px;
    background-color: #a70;
}